*{
  padding: 0;
  margin: 0;
}

header{
  background-color: #05021d;
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.container{
  width: 100vw;
  color: aliceblue;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 999;
  font-weight: bolder; background-color: #091667;
  opacity: 0.8;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.nav-branding{
  font-size: 2rem;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link{
  transition: 0.3s ease-out;
}

.nav-link:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}
.navImg{
  width: 10vw;
  margin-right: 1vw;
}
.imagewrapper{
  display: flex;
  align-items: center;
  font-size: xx-large;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
@media(max-width:1024px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .navImg{
    width: 30vw;
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #091667;
    width: 100%;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}
