.wrapperDiv {
  width: 60%;
  color: burlywood;
  background-color: rgb(183, 175, 161);
  margin: auto;
  border-radius: 14px;
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.heading {
  font-size: xx-large;
  text-align: center;
  font-weight: 700;
  color: rgb(118, 58, 131);
}

.selectDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8;
  margin-bottom: 8;
  width: auto;
}

.select {
  min-width: 30vw;
  height: 6vh;
  margin: 2%;
}

.filterButton {
  color: black;
  margin-right: 2%;
  font-size: larger;
  width: auto;
}

.silderWrapperDiv {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemName {
  width: 24vw;
  height: 4vh;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  border: 2px solid rgb(70, 146, 146);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.showAll {
  display: flex;
  justify-content: center;
}

.sliderrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .selectDiv {
    flex-direction: row;
  }
  .silderWrapperDiv {
    flex-direction: row;
  }
  .select {
    min-width: 10vw;
    margin: 2%;
  }
  .itemName {
    width: 10vw;
  }
}
@media screen and (min-width: 700px) {
  .selectDiv {
    flex-direction: row;
  }
  .silderWrapperDiv {
    flex-direction: row;
  }
  .itemName {
    width: 10vw;
  }
}
